<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/aff02a4ba3.js" crossorigin="anonymous"></script>
    <title>Blog Website</title>
</head>
<body>
    <header>
        <div class="container-fluid" id="head">
            <div id="logo">
                <h4>Ios blog</h4>
            </div>
            <div>
                <ul id="headerlist">
                    <li>Home</li>
                    <li><a href="#" class="dropdown-parent">Products</a><i class="fa-solid fa-angle-down"></i></li>
                    <li><a href="#" class="dropdown-m">Blog</a> <i class="fa-solid fa-angle-down"></i>
                        <ul class="dropdown">
                            <li class="item">Add</li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Blog 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="blogDropdown">
                          <li><a class="dropdown-item" href="#">Add</a></li>
                           You can add more items here if needed -->
                        <!-- </ul>  -->
                    <!-- </li> -->
                    <li>Pricing</li>
                    <li>About Us</li>
                </ul>
            </div>
            <div id="button-top">
                <button class="btn btn-outline-dark">Login</button>
                <button class="btn btn-dark">SignUp</button>
            </div>
        </div>
    </header>
    <div id="content">
        <div id="image">
            <h4 id="featured-h4">Featured</h4>
            <h2>Breaking Into Product Design: Advice from Ios Ed Apps Founder, Eddie</h2>
            <p>Lets get one thing out of the way: you don't need a fancy Bachelor's degree to get into Product Design.</p>
        </div>
        <div id="many_blogs">
           <h5 id="middle-h5">Recent Blog Posts</h5> 
        </div>
    </div>
    <script src="/js/js/bootstrap.bundle.min.js"></script>
</body>
</html>