*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#B5C0D0;
    background-color: #fff;
}
#headerlist{
    list-style-type: none;
    display: flex;
    margin-left: 400px;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
#logo, h4 {
    font-family: 'Gotham Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 3px;
    font-weight: 600 !important;
    margin-left: 7px;
}
.headeritems{
    margin-left: 50px;
    font-weight:600;
}
#head{
    display: flex;
    margin-top: 15px;
}
#button-top{
    margin-left: 320px;
}
button{
    margin-left: 20px ;
    font-weight: 600 !important;
    font-size: 15px !important;
    font-family: 'Gotham Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
#image{
    background-image: url('/images/pd1.png') ;
    background-size: cover;
    /* background-repeat: none; */
    background-position: center;
    /* background-attachment: fixed; */
    color: #fff;
    margin: 20px;
    border-radius: 10px;
    height: 650px;
    transition: margin 1s;
}
#image:hover{
    margin: 10px; 
}
#content{
    font-family: 'Gotham Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; 
}
#featured-h4{
    font-weight: 400 !important;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 400px;
}
#featured-link{
    color: #fff;
}
h2{
    font-size: 50px;
    width: 70%;
    margin-left: 40px;
}
p{
    margin-left: 40px;
}
#middle-h5{
    font-weight: 450 !important;
    margin-left: 15px !important;
    /* justify-content: left; */
}
a{
    text-decoration: none;
    color: #000;
}
/* #link_parent{
    width: 20px !important;
    padding-top: 0;
} */
/* #link_size{
    padding: 0;
    font-size: 15px;
    font-weight: 600; 
    border: none !important;
} */

.dropdown{
    display: none;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 0px;
    margin-left: 7px;
    border: 1px solid;
    border-radius: 2px;
    background-color: #000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.icon1{
    color: #fff;
    margin-left: 40px;
}
.icon2{
    color: #fff;
    margin-left: 10px;
}
.dropdown.open-menu{
    display: block;
    opacity: 1;
    visibility:visible;
}
.item{
    border: none;
    text-align: left;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 2px;
    margin-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.item a{
    color: #fff;
}
.icon1,
        .icon2 {
            transition: margin 0.3s ease; /* Default transition for margin */
        }

        /* Different transition effect for icon1 */
        .item:hover .icon1 {
            margin-left: 45px; /* Move icon1 to the right on hover */
        }

        /* Different transition effect for icon2 */
        .item:hover .icon2 {
            margin-left: 15px; /* Move icon2 to the right on hover */
        }

.item a:hover{
    color: rgb(160, 160, 160);
}
.icons{
    width: 10px;
}
#blogposts-1{
    padding-left: 25px;
}
.blogs{
   /* margin-left: 10px; */
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blogs h5{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
}
.blog-images{
    height: 250px;
    width: 350px;
    border-radius: 10px;
    transition: width 1s;
}
.blogs p{
    margin-left: 0;
    font-size: 12px;
}
#poster{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}
#poster img{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    transition: width 1s;
}
#poster img:hover{
    width: 30px;
    height: 30px;
}
#poster li{
    margin-left:0 ;
}
#poster h6{
    margin-left: 5px ;
    font-size: 11px;
    margin-top: 6px;
}
.specific-link .blog-images:hover{
    width: 360px;
    filter: brightness(0.8);
}
#load-button{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#buttons{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}
#info #info-h3,#info-h5,#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#info h3{
    padding-top: 70px;
    font-size: 25px;
}
#info h5{
    font-size: 13px;
}
#info{
    margin-top: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#footer{
    margin: 20px;
    background-color: #000;
    border-radius: 10px;
}
#buttons li{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left:0 ;
}
.foot-1 a{
    color: #fff;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.foot-1 li{
    margin-top: 10px;
}
.foot-1{
    color: #fff;
    list-style: none;
    display: block;
}
#last{
    margin-top: 40px;
}

.foot-2{
    color: #fff;
    list-style: none;
    display: inline-flex;
}
#foot-h6{
    font-size:13px ;
    margin-top: 13px;
    margin-left: 1100px;
}
.foot-1 a:hover{
    color: rgb(160, 160, 160);
}
#left{
    background-color: #fff;
    background-color:#F5F5F5;
    background-color: #ced4de;
    border-radius: 10px;

}
#left-card{
    background-color: #ced4de;
    background-color: #F5F5F5;
    /* margin-top: 10px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #fff; */
    height: 70vh;
    margin: 10px;
    width: 500px;
    border-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 15px;
}
#innerleft-card1{
    padding-top: 15vh;
    margin: 30px;
    margin-top: 20px;
    /* border-radius: 10px; */
}
#wholecard{
    margin-top: 50px;
    position: flex;
    align-items: center;
    justify-content: center;
    width: 1050px;
    border-radius: 10px;
    background-color: #fff;
    background-color:#F5F5F5;
    background-color: #ced4de;

}
#cardin{
    border-radius: 10px !important;
}

#innerleft-card1 h3{
    /* margin-top: 20px; */
    font-size: 35px;
}
#innerleft-card1 p{
    /* margin-top: 20px; */
    margin-left: 0;
    margin-top: 20px;
    font-size: 18px;
    color: #656565;
}

#right{
    background-color: #fff;
    background-color:#F5F5F5;
    background-color: #ced4de;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#innerleft-card2{
    background-color: black;
    border-radius: 10px;
    margin: 30px;
    margin-top: 80px;
    color: #F5F5F5;
}
#innerleft-card2 p{
    margin: 20px;
    padding-top: 40px;
    font-size: 16px;
    line-height: 1.6;
}

#innerleft-card2 img{
    height: 35px;
    width: 35px;
    border-radius: 15px;
    margin-left: 20px;
    position: absolute;
}
#card2-list{
    list-style: none;
    padding-bottom: 40px;
}
#big{
    margin-left: 30px;
    font-size: 11px;
}
#small{
    font-size: 10px;
    margin-left: 30px;
    color: #B5C0D0;
} 
#right{
    margin-top: 80px;
    padding-left: 50px;
}
#right-card h5{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}

label{
    font-size: 15px;
    color: #656565;
}
input{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 90%;
    height: 50px;
    border: 1px solid #B5C0D0;
    border-radius: 7px;
    padding: 10px;
}
#formbutton{
    margin-left: 0;
    margin-top: 15px;
    width: 90%;
    height: 50px;
}
#right-card p{
    margin-top: 20px;
    margin-left: 120px;
    font-size: 16px;
    color: #656565;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}
#right-card a{
    color: blue;
    font-weight: 500;
}