#headerlist{
    list-style-type: none;
    display: flex;
    margin-left: 310px;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
#logo, h4 {
    font-family: 'Gotham Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 3px;
    font-weight: 600 !important;
    margin-left: 7px;
}
li{
    margin-left: 50px;
    font-weight:600;
}
#head{
    display: flex;
    margin-top: 15px;
}
#button-top{
    margin-left: 200px;
}
button{
    margin-left: 20px ;
    font-weight: 600 !important;
    font-size: 15px !important;
    font-family: 'Gotham Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
#image{
    background-image: url('/images/image.png') ;
    background-size: cover;
    /* background-repeat: none; */
    background-position: center;
    /* background-attachment: fixed; */
    color: #fff;
    margin: 20px;
    border-radius: 10px;
    height: 650px;


}
#content{
    font-family: 'Gotham Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; 
}
#featured-h4{
    font-weight: 400 !important;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 400px;
}
h2{
    font-size: 50px;
    width: 70%;
    margin-left: 40px;
}
p{
    margin-left: 40px;
}
#middle-h5{
    font-weight: 450 !important;
    margin-left: 30px !important;
}
a{
    text-decoration: none;
    color: #000;
}
/* #link_parent{
    width: 20px !important;
    padding-top: 0;
} */
/* #link_size{
    padding: 0;
    font-size: 15px;
    font-weight: 600; 
    border: none !important;
} */

.dropdown{
    display: none;
}